h1, h2, h3, h4, h5, h6 {
  /* text-transform: uppercase; */
  text-align: center;
}

table {
  width: 100%;
  
}

td {
  height: 10rem;
  border-bottom: 0px;
  vertical-align: bottom;
  text-align: center;
}

.drum-pad {
  width: 100%;
}

#display {
  text-align: center;
}