h1 {
  text-align: center;
  margin-top: 1rem;
}

table {
  width: 100%;
  
}

td {
  height: 10rem;
  border-bottom: 0px;
  vertical-align: bottom;
  text-align: center;
}

.drum-pad {
  width: 100%;
}

#doc-says {
  width: 8rem;
}

#display {
  text-align: center;
}